.createpost{
    display: flex;
    align-items: center;
    justify-content: center;
}


.alignNotice {
    font-family:'Montserrat', sans-serif;    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:black;
    padding: 8px;
}

.createPostContainer {
    width: 90vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    margin-top: 20px;
    border-radius:20px;
    padding: 5px;
}

.createPostCaption {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:black;
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
}

.createPostContent {
    display: flex;
    font-size: 20px;
    color: black;
    width: 80%;
    border:none;
}

.createPostUploadImage > input {
    display: none;
}

.createPostUpload {
    font-family: 'Poppins', sans-serif;
    background-color: #14B5F8;
    border-radius: 10px;
    border:none;
    font-size: 20px;
    color:black;
    cursor:pointer;
}

.justifyUpload {
    display: flex;
    justify-content: space-between;
    padding:10px;
}

#image-preview {
    height:150px;
    margin:15px 0px;
    border-radius: 5px;
}