.postContainer {
    width: 90vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    border-radius:20px;
    padding: 24px 12px;
}

.postHeader {
    display: flex;
}

.postHeaderLeft {
    display: flex;
}

.postHeaderImage{
    height:75px;
    border-radius: 20px;
}