.postContainer {
    width: 90vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    border-radius:20px;
    padding: 24px 12px;
  
}

.postHeader {
    display: flex;
    justify-content: space-between;
    
}

.postHeaderLeft {
    display: flex;
    
}

.postHeaderImage{
    height:75px;
    border-radius: 20px;
}

.postUsername {
    padding: 0px 20px;
}

.postCaption  {
    text-align: left;
    padding: 0px 10px;
}

.postComments {
    text-align:left;
    padding: 0 10px;
}

.customBtn{
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 20px;
}

.postImage {
    width: 100%;
    object-fit: cover;
    margin: 20px 0px;
    border-radius: 10px;
}

.commentsCaption {
    text-align:left;
    padding: 0px 18px;
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    color:darkgrey;
}

.commentsViewer{
    text-align:left;
    padding: 0px 18px;
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    color:darkgrey;
}